.hbox {
    -fx-background-color: #558C01;
    -fx-padding: 10px;
}

.button {
    -fx-background-color: #418101;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button-dark {
    -fx-background-color: #444;
    -fx-text-fill: white;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.table-view {
    -fx-font-size: 14px;
}